.address-footer {
	padding-top: 60px;
	padding-bottom: 60px;
	background: #2f303a;
		display: flex;
		align-items: baseline;
}

.address-footer__box {
	margin-right: 70px;
}
.address-footer__logo {
	
	padding: 0;
	margin-bottom: 20px;

		font-family: "Raleway", sans-serif;
			font-size: 26px;
			line-height: 1.19;
			letter-spacing: 0.03em;
			text-decoration: none;
			color: $accentColor;
			}

			.address-footer__logo-span{
				color: $primariBgColor;
			}
 .address{
	padding: 0;
	list-style: none;
 }

.address__item-text,
.address__item:not(:last-child) {
	margin-bottom: 9px;
}

.address__item-text .address__link {
	color: $primariBgColor;
}

.address__link {
	font-style: normal;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;

	text-decoration: none;
	color: rgba(255, 255, 255, 0.6);
}
.bottom-box {
	display: flex;	
}
